<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/partials :: header('Create a new adventure')"></head>
<body>

<div th:replace="fragments/partials :: navbar"></div>

<div class="w3-main" style="margin-left: 300px;">
    <main>
        <h2>Create a new adventure</h2>
        <form th:action="@{/create}" th:method="adventure" th:object="${adventure}">
                Title
                <input th:field="*{title}" minlength="5" maxlength="50" value=""/>
                Description
                <input th:field="*{body}" minlength="5" maxlength="200"/>
                Image URL
                <input th:field="*{imgURL}" minlength="5" maxlength="100"/>
            <input type="submit"/>
        </form>
    </main>
</div>

</body>
</html>