<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/partials :: header('Post Details')"></head>
<body>

<div th:replace="fragments/partials :: navbar"></div>
<div class="w3-main" style="margin-left: 300px;">
    <main>
        <img src="/img/samwise-gamgee-300x184.jpg" style="width:100%" alt="A boy surrounded by beautiful nature"/>
        <h1 th:text="${adventure.title}"></h1>
        <p th:text="${adventure.body}"></p>
        <input type="hidden" name="id" id="id" th:value="${adventure.id}"/>
        <div>
            <form th:action="@{/posts/{id}/save (id = ${adventure.id})}" method="POST">
                <input type="hidden" name="position" id="position" th:value="${adventure.postion}"/>
                <input type="hidden" name="save" id="save" th:value="'save'"/>
                <button type="submit">Save Progress</button>
            </form>
        </div>
        <form class="hiddenForm" th:action="@{/posts/{id}/saveb4 (id = ${adventure.id})}" method="POST">
            <input type="hidden" name="position" id="position1" th:value="${adventure.postion}"/>
            <button class="hiddenForm" type="submit"></button>
        </form>
    </main>
    <div id="maps" th:replace="fragments/Maps :: map"></div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</div>
    <script type="text/javascript" src="/js/map.js" />
</body>
</html>