<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="aboutme" class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
    <h4><b>About Me</b></h4>
    <img src="/img/landon.jpeg" alt="Me" class="w3-image w3-padding-32" width="600" height="650"/>
    <div class="w3-content w3-justify" style="max-width:600px">
        <h4>Landon Harvey</h4>
        <p>At the heart of a problem lies an adventure with to many paths to travel,
            it is an individuals perspectives,
            desires and knowledge that helps them choose which path they will take.
            As an individual that strives at being at the heart of such problems,
            I use my experiences as an Eagle Scout, Developer, Leader,
            Follower and Student to guide me to the solution.</p>
        <p>E-mail: landonharvey5@gmail.com</p>
        <p>Cell: 325-374-0421</p>
        <hr class="w3-opacity"/>
        <h4 class="w3-padding-16">Technical Skills</h4>
        <hr class="w3-opacity"/>
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                    <li class="w3-black w3-xlarge w3-padding-32">Front End</li>
                    <li class="w3-padding-16">Vue / Vuex</li>
                    <li class="w3-padding-16">JavaScript</li>
                    <li class="w3-padding-16">HTML / CSS</li>
                    <li class="w3-padding-16">API's</li>
                    <li class="w3-padding-16 flexside">
                        <span class="w3-opacity"><img class="img-half" src="/img/vue.png" alt="Vue"/></span>
                        <span class="w3-opacity"><img class="img-half" src="/img/javascript.png" alt="Vue"/></span>
                    </li>
                </ul>
            </div>

            <div class="w3-half">
                <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                    <li class="w3-black w3-xlarge w3-padding-32">Back End</li>
                    <li class="w3-padding-16">Java</li>
                    <li class="w3-padding-16">Spring Boot</li>
                    <li class="w3-padding-16">MySQL</li>
                    <li class="w3-padding-16">Express</li>
                    <li class="w3-padding-16 flexside">
                        <span class="w3-opacity"><img class="img-third" src="/img/java.png" alt="Vue"/></span>
                        <span class="w3-opacity"><img class="img-third" src="/img/spring.png" alt="Vue"/></span>
                        <span class="w3-opacity"><img class="img-third" src="/img/sql.png" alt="Vue"/></span>
                    </li>
                </ul>
            </div>
        </div>
        <p><a href="/img/LandonHarvey.pdf" download="/img/LandonHarvey.pdf"><button  class="btn btn-success">Download Resume</button></a></p>
    </div>
</div>


</body>
</html>