<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
</head>
<body>

<!--footer-->
<footer th:fragment="footer" class="w3-container w3-padding-32 w3-grey">
    <div class="w3-row-padding">
        <div class="w3-third">
            <h3>INFO</h3>
            <p>Ash nazg durbatulûk, ash nazg gimbatul,
                Ash nazg thrakatulûk agh burzum-ishi krimpatul.</p>
        </div>

        <div class="w3-third">
            <h3>BLOG POSTS</h3>
            <ul class="w3-ul">
                <li class="w3-padding-16 w3-hover-black">
                    <img class="w3-left w3-margin-right" style="width:50px"/>
                    <span class="w3-large">Lorem</span><br/>
                    <span>Sed mattis nunc</span>
                </li>
                <li class="w3-padding-16 w3-hover-black">
                    <img class="w3-left w3-margin-right" style="width:50px"/>
                    <span class="w3-large">Ipsum</span><br/>
                    <span>Praes tinci sed</span>
                </li>
            </ul>
        </div>

        <div class="w3-third">
            <h3>POPULAR TAGS</h3>
            <p>
                <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shire</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Rohan</span>
                <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
                <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
                <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
                <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
            </p>
        </div>
    </div>
    <script type="text/javascript" src="/js/partials.js" />
</footer>

</body>
</html>