<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header(title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title}"></title>
    <!-- include stylesheets, etc here -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="/css/partials.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>

<body>

<!-- mobile Navbar -->
<nav th:fragment="mobileNavbar" class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
    <span class="w3-left w3-padding">Landon Harvey</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
</nav>

<!--regular navbar-->
<nav th:fragment="navbar" class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar">
    <br/>
    <h3 class="w3-padding-64 w3-center"><b>Landon<br/>Harvey</b></h3>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
    <a href="/#" onclick="w3_close()" class="w3-bar-item w3-button">PREVIOUS WORK</a>
    <a href="/#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT ME</a>
    <a href="/#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    <a href="/#" onclick="w3_close()" class="w3-bar-item w3-button">ADVENTURES</a>
    <a href="/create" class="w3-bar-item w3-button">CREATE ADVENTURES</a>
    <a sec:authorize="!isAuthenticated()" href="/login" class="w3-bar-item w3-button">LOGIN/SIGNUP</a>
    <a sec:authorize="isAuthenticated()" href="/logout" class="w3-bar-item w3-button">LOGOUT</a>
</nav>

</body>
</html>