<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/partials :: header('Create a new adventure')"></head>
<body>

<div th:replace="fragments/partials :: navbar"></div>
<nav th:replace="fragments/partials :: mobileNavbar"/>

<div class="w3-main" style="margin-left: 300px;">
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <main>
        <h2 class="ml-2 mt-2">Create a new adventure</h2>
        <form th:action="@{/create}" th:method="post" class="mr-4 mb-2">
            <div class="form-group row mr-4 ml-2">
                    <label class="col-sm-2 col-form-label" for="title">Adventure Title</label>
                    <input type="text" class="form-control col-sm-10" id="title" name="title" minlength="5" maxlength="50" value="" placeholder="Enter Title"/>
                    <label class="col-sm-2 col-form-label" for="body">Adventure Description</label>
                    <input type="text" class="form-control col-sm-10" id="body" name="body" minlength="5" maxlength="200" placeholder="Enter Description"/>
                    <label class="col-sm-2 col-form-label" for="imgURL">Adventure Image URL</label>
                    <input type="text" class="form-control col-sm-10" id="imgURL" name="imgURL" minlength="5" maxlength="100" placeholder="Enter image link"/>
            </div>
            <h2 class="ml-2">Adventurer 1</h2>
                <div class="form-group row mr-4 ml-2">
                    <label class="col-sm-2 col-form-label" for="name1">Adventurer Name</label>
                    <input class="form-control col-sm-10" id="name1" name="name1" minlength="5" maxlength="50" placeholder="Enter Characters Name" value=""/>
                    <label class="col-sm-2 col-form-label" for="imgURL1">Adventurer Image</label>
                    <input class="form-control col-sm-10" id="imgURL1" name="imgURL1" minlength="5" maxlength="100" placeholder="Enter Characters image link"/>
                </div>
            <h2 class="ml-2">Adventurer 2</h2>
                <div class="form-group row mr-4 ml-2">
                    <label class="col-sm-2 col-form-label" for="name2">Adventurer Name</label>
                    <input class="form-control col-sm-10" id="name2" name="name2" minlength="5" maxlength="50" placeholder="Enter Characters Name" value=""/>
                    <label class="col-sm-2 col-form-label" for="imgURL2">Adventurer Image</label>
                    <input class="form-control col-sm-10" id="imgURL2" name="imgURL2" minlength="5" maxlength="100" placeholder="Enter Characters image link"/>
                </div>
                <input class="btn btn-success " type="submit"/>
        </form>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>